<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章归档</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_style.css') }}">
</head>

<body>
    <div id="container">
        <div id="left">
            <main>
                <!-- 你可以在这里添加其他内容 -->
            </main>
        </div>
        <div id="right">
            <div id="archives">
                <label>文章归档</label>
                <ul>
                    {% for year, month, count in posts %}
                    <li>
                        <a href="{{ url_for('archive_posts', year=year, month=month) }}">
                            {{ year }}年{{ month }}月 ({{ count }}篇)
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>归档页</p>
    </div>
</body>

</html>