<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ year }}年{{ month }}月文章</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_style.css') }}">
</head>

<body>
    <div id="container">
        <div id="left">
            <main>
                <h1>{{ year }}年{{ month }}月的文章</h1>
                <ul>
                    {% for post in posts %}
                    <li><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </main>
        </div>
        <div id="right">
            <!-- 侧边栏内容 -->
        </div>
    </div>
    <div id="footer">
        <p>归档页</p>
    </div>
</body>

</html>